.heading, .btn, .btn:link, .btn:visited, .contact-form__input, .navigation__link:link, .navigation__link:visited, .text-box {
  font-family: inherit;
  font-weight: 300; }

.heading__prim, .heading__sec, .heading__sec--people, .heading__sec--find, .text-box--big, .home__btns--left, .home__btns--right {
  animation-duration: .9s;
  backface-visibility: hidden; }

/* Media Queries

min-width:

1. bp1400 
2. bp1500
3. bp1600
4. bp1700
5. bp1800

--------------------------------------------------------

max-width:

1. bp1100 [ 1100px / 16px = 68.75em ]
2. bp1000
3. bp900
4. bp800
5. bp768
6. bp700
7. bp640
8. bp600
9. bp550
10. bp500
11. bp450
12. bp400
13. bp350

--------------------------------------------------------

max-height:

1. bp450H
2. bp400H
3. bp320H

---------------------------------------------------------

Hover:

1. bpHoverNone 

---------------------------------------------------------

Responsive img:

1. smaller - 600px
2. small - 900px
3. mid - 1200px
4. big - 2000px
5. bigger - 3200px


*/
:root {
  --color-pink-light: #ed5565;
  --color-pink-dark: #da4453;
  --color-pink-darken: #b62433;
  --color-pink-light-transparent: #ed55645b;
  --color-gray-light: #f5f7fa;
  --color-gray-medium: #aab2bd;
  --color-gray-dark: #343941;
  --color-gray-darken: #1e272e;
  --color-green: yellowgreen;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.5);
  --shadow-light: 0 .5rem 2rem rgba(0, 0, 0, 0.4);
  --shadow-btn: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-25rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(25rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(15rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveLeftStop {
  0% {
    opacity: 0;
    transform: translateX(70rem); }
  45% {
    opacity: 0; }
  55% {
    opacity: 0.3; }
  100% {
    opacity: 1;
    transform: translateX(0); } }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-color: var(--color-gray-darken) var(--color-pink-dark);
  scrollbar-width: thin; }
  @media only screen and (min-width: 87.5em) {
    html {
      font-size: 63%; } }
  @media only screen and (min-width: 93.75em) {
    html {
      font-size: 65%; } }
  @media only screen and (min-width: 100em) {
    html {
      font-size: 66%; } }
  @media only screen and (min-width: 106.25em) {
    html {
      font-size: 67%; } }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 57%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 52%; } }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 47%; } }
  @media only screen and (max-width: 28.125em) {
    html {
      font-size: 44%; } }

body {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  color: var(--color-gray-dark);
  background-color: var(--color-pink-dark); }

.container {
  margin: 5rem 8rem;
  background-color: var(--color-gray-light);
  border-radius: 5rem;
  overflow: hidden;
  box-shadow: var(--shadow-dark); }
  @media only screen and (max-width: 68.75em) {
    .container {
      margin: 4rem; } }
  @media only screen and (max-width: 56.25em) {
    .container {
      margin: 3rem; } }
  @media only screen and (max-width: 48em) {
    .container {
      margin: 0;
      border-radius: 0; } }

::selection {
  background-color: var(--color-pink-dark);
  color: #fff; }

::-webkit-scrollbar {
  width: .5rem;
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-darken); }

.heading {
  display: block;
  text-transform: uppercase; }
  .heading__prim {
    font-weight: 400;
    font-size: 13rem;
    letter-spacing: 1rem;
    color: var(--color-gray-dark);
    animation-name: moveInRight; }
    @media only screen and (max-width: 56.25em) {
      .heading__prim {
        font-size: 11rem; } }
    @media only screen and (max-width: 40em) {
      .heading__prim {
        font-size: 10rem; } }
    @media only screen and (max-width: 34.375em) {
      .heading__prim {
        font-size: 9rem; } }
    @media only screen and (max-width: 25em) {
      .heading__prim {
        font-size: 8rem;
        margin: 3rem auto; } }
    @media only screen and (max-width: 21.875em) {
      .heading__prim {
        font-size: 7rem;
        letter-spacing: .7rem;
        margin: 3rem auto; } }
  .heading__sec {
    font-size: 5.5rem;
    letter-spacing: .3rem;
    color: var(--color-gray-dark);
    animation-name: moveInLeft; }
    @media only screen and (max-width: 56.25em) {
      .heading__sec {
        font-size: 5rem;
        letter-spacing: .2rem;
        font-weight: 400; } }
    @media only screen and (max-width: 50em) {
      .heading__sec {
        font-size: 4.5rem; } }
    @media only screen and (max-width: 28.125em) {
      .heading__sec {
        font-size: 5.5rem; } }
    @media only screen and (max-width: 25em) {
      .heading__sec {
        font-size: 5rem; } }
    @media only screen and (max-width: 21.875em) {
      .heading__sec {
        font-size: 4.5rem; } }
    .heading__sec--card {
      font-size: 15rem;
      letter-spacing: .4rem; }
      @media only screen and (max-width: 68.75em) {
        .heading__sec--card {
          font-size: 12rem;
          margin-bottom: 4rem; } }
    .heading__sec--people {
      font-size: 7rem;
      letter-spacing: .3rem;
      color: var(--color-gray-darken);
      font-weight: 400;
      animation-name: moveInRight; }
      @media only screen and (max-width: 68.75em) {
        .heading__sec--people {
          font-size: 6rem; } }
      @media only screen and (max-width: 48em) {
        .heading__sec--people {
          font-size: 5rem; } }
    .heading__sec--find {
      animation-name: moveDown; }
  .heading__third {
    font-size: 3rem;
    letter-spacing: .2rem; }

.about-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem;
  margin: 13rem auto 0 auto;
  flex: 0 0 60%;
  border-radius: 4rem;
  color: var(--color-gray-darken);
  background-image: linear-gradient(to bottom right, rgba(153, 205, 50, 0.9), rgba(255, 255, 255, 0.9));
  box-shadow: var(--shadow-btn); }
  @media only screen and (max-width: 31.25em) {
    .about-box {
      flex: 0 0 75%; } }
  .about-box__heading {
    color: var(--color-gray-darken); }
  .about-box__text {
    margin: 2rem auto 0 auto; }

.box-card {
  height: 50rem;
  width: 100%;
  flex: 1;
  -moz-perspective: 150rem;
  perspective: 150rem;
  position: relative; }
  @media only screen and (min-width: 100em) {
    .box-card {
      height: 53rem; } }
  @media only screen and (min-width: 106.25em) {
    .box-card {
      height: 54rem; } }
  @media only screen and (min-width: 112.5em) {
    .box-card {
      height: 56rem; } }
  @media only screen and (hover: none) {
    .box-card {
      border-radius: 4rem;
      overflow: hidden;
      box-shadow: var(--shadow-btn);
      height: 100%; } }
  @media only screen and (max-width: 68.75em) {
    .box-card {
      border-radius: 4rem;
      overflow: hidden;
      box-shadow: var(--shadow-btn);
      height: 100%; } }
  @media only screen and (max-width: 40em) {
    .box-card {
      width: 65%;
      margin: 0 auto; } }
  @media only screen and (max-width: 28.125em) {
    .box-card {
      width: 80%; } }
  .box-card--first, .box-card--sec {
    margin-right: 5rem; }
    @media only screen and (max-width: 68.75em) {
      .box-card--first, .box-card--sec {
        margin-right: 3rem; } }
    @media only screen and (max-width: 56.25em) {
      .box-card--first, .box-card--sec {
        margin-right: 2rem; } }
    @media only screen and (max-width: 40em) {
      .box-card--first, .box-card--sec {
        margin: 0 auto 7rem auto; } }
  .box-card-side {
    height: 50rem;
    width: 100%;
    flex: 1;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: var(--shadow-btn);
    transition: all .8s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden; }
    @media only screen and (min-width: 100em) {
      .box-card-side {
        height: 53rem; } }
    @media only screen and (min-width: 106.25em) {
      .box-card-side {
        height: 54rem; } }
    @media only screen and (min-width: 112.5em) {
      .box-card-side {
        height: 56rem; } }
    @media only screen and (hover: none) {
      .box-card-side {
        position: relative;
        border-radius: 0;
        width: 100%;
        height: 100%; } }
    @media only screen and (max-width: 68.75em) {
      .box-card-side {
        position: relative;
        border-radius: 0;
        width: 100%;
        height: 100%; } }
    .box-card-side-front {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0.1));
      flex: 1; }
      @media only screen and (max-width: 68.75em) {
        .box-card-side-front {
          padding-bottom: 3rem; } }
      .box-card-side-front__heading {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .box-card-side-front__heading-icon {
          fill: var(--color-pink-light);
          width: 3rem;
          height: 3rem;
          margin-right: 1rem; }
        .box-card-side-front__heading > h3:first-child {
          margin-right: auto; }
      .box-card-side-front__img {
        margin: 4rem auto;
        width: 40%; }
        .box-card-side-front__img--fresh {
          opacity: .95; }
        .box-card-side-front__img--cake {
          width: 100%; }
      .box-card-side-front__text ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        list-style: none;
        width: 70%;
        margin: 0 auto; }
        @media only screen and (max-width: 68.75em) {
          .box-card-side-front__text ul {
            width: 90%; } }
        @media only screen and (max-width: 40em) {
          .box-card-side-front__text ul {
            width: 70%; } }
        @media only screen and (max-width: 28.125em) {
          .box-card-side-front__text ul {
            width: 80%; } }
      .box-card-side-front__text li {
        margin-bottom: 1rem;
        padding-bottom: 1rem; }
        .box-card-side-front__text li:not(:last-child) {
          border-bottom: 0.1rem solid var(--color-pink-light-transparent); }
        .box-card-side-front__text li span {
          font-weight: 400;
          font-size: 2rem;
          padding-left: 1rem; }
    .box-card-side-back {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      color: #fff;
      font-weight: 300;
      background-image: linear-gradient(135deg, var(--color-pink-light), var(--color-pink-darken));
      transform: rotateY(180deg); }
      @media only screen and (hover: none) {
        .box-card-side-back {
          transform: rotateY(0); } }
      @media only screen and (max-width: 68.75em) {
        .box-card-side-back {
          transform: rotateY(0); } }
  .box-card:hover .box-card-side-front {
    transform: rotateY(-180deg); }
    @media only screen and (hover: none) {
      .box-card:hover .box-card-side-front {
        transform: rotateY(0); } }
    @media only screen and (max-width: 68.75em) {
      .box-card:hover .box-card-side-front {
        transform: rotateY(0); } }
  .box-card:hover .box-card-side-back {
    transform: rotateY(0); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 3rem;
  letter-spacing: .3rem;
  font-size: 1.7rem;
  border-radius: 1.5rem;
  box-shadow: var(--shadow-btn);
  transition: all .2s;
  cursor: pointer; }
  @media only screen and (max-width: 28.125em) {
    .btn, .btn:link, .btn:visited {
      font-size: 2.8rem; } }
  @media only screen and (max-width: 25em) {
    .btn, .btn:link, .btn:visited {
      padding: 2.5rem 5rem; } }
  @media only screen and (max-width: 21.875em) {
    .btn, .btn:link, .btn:visited {
      font-size: 2.2rem; } }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: var(--shadow-btn); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn__solid--pink {
  background-color: var(--color-pink-dark);
  color: #fff; }
  .btn__solid--pink:hover {
    background-color: var(--color-pink-light); }

.btn__solid--white {
  background-color: #fff;
  color: var(--color-pink-dark);
  font-weight: 400;
  margin-bottom: 2rem; }

.btn__solid--form {
  background-color: #fff;
  color: var(--color-pink-dark);
  font-weight: 400;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  @media only screen and (max-width: 50em) {
    .btn__solid--form {
      font-size: 1.3rem; } }
  @media only screen and (max-width: 28.125em) {
    .btn__solid--form {
      font-size: 2.2rem; } }
  @media only screen and (max-width: 21.875em) {
    .btn__solid--form {
      font-size: 2rem; } }
  .btn__solid--form:focus {
    outline: none; }

.btn__light {
  color: var(--color-pink-dark);
  border: 0.1rem solid var(--color-pink-dark);
  background-color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  padding: 2rem 2.5rem; }

.btn-text {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: inherit;
  letter-spacing: .3rem;
  font-size: 2.2rem;
  font-weight: 400;
  transition: all .2s;
  cursor: pointer;
  backface-visibility: hidden; }
  @media only screen and (max-width: 28.125em) {
    .btn-text {
      font-size: 3rem; } }
  .btn-text__pink {
    color: var(--color-pink-darken);
    margin: 0 0 0 2rem; }
  .btn-text:hover {
    transform: scale(1.3); }
  .btn-text:active {
    transform: scale(1); }

.clip-background {
  height: 40rem;
  margin: -25rem 0 0 auto;
  background-color: var(--color-gray-light);
  border-radius: 0 0 14rem 0;
  position: relative;
  z-index: 50; }

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 75%;
  padding: 7rem;
  border-radius: 5rem;
  background-image: linear-gradient(to bottom right, rgba(237, 85, 101, 0.9), var(--color-pink-darken));
  box-shadow: var(--shadow-btn); }
  @media only screen and (max-width: 56.25em) {
    .contact-form {
      width: 80%;
      padding: 5rem; } }
  @media only screen and (max-width: 50em) {
    .contact-form {
      width: 85%; } }
  @media only screen and (max-width: 43.75em) {
    .contact-form {
      width: 90%; } }
  @media only screen and (max-width: 31.25em) {
    .contact-form {
      align-items: center;
      padding: 7rem 0; } }
  .contact-form__content {
    display: flex;
    justify-content: space-between;
    align-items: stretch; }
    @media only screen and (max-width: 31.25em) {
      .contact-form__content {
        flex-direction: column;
        width: 80%; } }
    .contact-form__content--info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      flex: 0 0 40%;
      margin: 0 3rem 5rem auto; }
      @media only screen and (max-width: 31.25em) {
        .contact-form__content--info {
          flex: 0 0 40%;
          margin: 0; } }
    .contact-form__content--text {
      flex: 1; }
  .contact-form__input {
    width: 100%;
    border-radius: .5rem;
    height: 4rem;
    font-size: 2.2rem;
    color: inherit;
    cursor: pointer;
    border: none;
    box-shadow: var(--shadow-light);
    padding: 0 1rem; }
    @media only screen and (max-width: 31.25em) {
      .contact-form__input {
        height: 6rem;
        font-size: 3rem; } }
    .contact-form__input:focus {
      outline: none;
      border-bottom: 0.3rem solid var(--color-gray-dark);
      box-shadow: var(--shadow-btn); }
    .contact-form__input--name {
      margin-bottom: 3rem; }
    .contact-form__input--email {
      margin-bottom: 3rem; }
    .contact-form__input--msg {
      height: 100%; }
      @media only screen and (max-width: 31.25em) {
        .contact-form__input--msg {
          height: 22rem; } }
  .contact-form__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%; }
    @media only screen and (max-width: 31.25em) {
      .contact-form__btn {
        margin-top: 3.5rem; } }

.logo {
  position: fixed;
  top: 3.5rem;
  left: 4.5rem;
  height: 7rem;
  width: 7rem;
  z-index: 3000;
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 50%;
  box-shadow: var(--shadow-light); }
  @media only screen and (max-width: 43.75em) {
    .logo {
      top: 2.5rem;
      left: 2.5rem;
      height: 6rem;
      width: 6rem; } }
  .logo__img {
    position: fixed;
    top: 4rem;
    left: 5rem;
    height: 6rem;
    width: 6rem;
    transition: all 1s ease; }
    @media only screen and (max-width: 43.75em) {
      .logo__img {
        top: 3rem;
        left: 3rem;
        height: 5rem;
        width: 5rem; } }
    .logo__img:hover {
      transform: rotateZ(360deg); }

.navigation__checkbox {
  display: none; }

.navigation__btn--open {
  display: block; }

.navigation__btn--close {
  display: none; }

.navigation__icon {
  position: fixed;
  top: 4.25rem;
  right: 5.25rem;
  height: 5.5rem;
  width: 5.5rem;
  fill: var(--color-gray-dark);
  z-index: 2000;
  cursor: pointer; }
  @media only screen and (max-width: 43.75em) {
    .navigation__icon {
      top: 3rem;
      right: 3rem;
      height: 5rem;
      width: 5rem; } }

.navigation__bgr {
  position: fixed;
  top: 3.5rem;
  right: 4.5rem;
  height: 7rem;
  width: 7rem;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 1000rem;
  box-shadow: var(--shadow-light);
  transition: all .5s; }
  @media only screen and (max-width: 62.5em) {
    .navigation__bgr {
      transition: all .2s; } }
  @media only screen and (max-width: 43.75em) {
    .navigation__bgr {
      top: 2.5rem;
      right: 2.5rem;
      height: 6rem;
      width: 6rem; } }

.navigation__nav {
  position: fixed;
  top: 3.5rem;
  right: 4.5rem;
  height: 7rem;
  z-index: 1500;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0 6rem 0 5rem; }
  @media only screen and (max-width: 21.875em) {
    .navigation__nav {
      padding: 0 4rem 0 3rem; } }

.navigation__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  list-style: none; }
  @media only screen and (max-width: 62.5em) {
    .navigation__list {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start; } }

.navigation__item {
  margin-right: 2rem; }

.navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 2.7rem;
  letter-spacing: .1rem;
  color: var(--color-gray-darken);
  padding: .8rem 1rem;
  transition: all .3s;
  backface-visibility: hidden; }

.navigation__link:hover, .navigation__link:active {
  transform: scale(1.1);
  color: var(--color-pink-dark); }

.navigation__checkbox:checked ~ .navigation__bgr {
  width: 83rem; }
  @media only screen and (max-width: 62.5em) {
    .navigation__checkbox:checked ~ .navigation__bgr {
      width: 45%;
      height: 30rem;
      border-radius: 3rem; } }
  @media only screen and (max-width: 50em) {
    .navigation__checkbox:checked ~ .navigation__bgr {
      width: 50%; } }
  @media only screen and (max-width: 43.75em) {
    .navigation__checkbox:checked ~ .navigation__bgr {
      width: 55%; } }
  @media only screen and (max-width: 34.375em) {
    .navigation__checkbox:checked ~ .navigation__bgr {
      width: 60%; } }
  @media only screen and (max-width: 28.125em) {
    .navigation__checkbox:checked ~ .navigation__bgr {
      width: 65%; } }
  @media only screen and (max-width: 25em) {
    .navigation__checkbox:checked ~ .navigation__bgr {
      width: 70%; } }
  @media only screen and (max-width: 21.875em) {
    .navigation__checkbox:checked ~ .navigation__bgr {
      width: 87%;
      height: 36rem; } }

.navigation__checkbox:checked ~ .navigation__nav {
  display: flex;
  animation-name: moveLeftStop;
  animation-duration: .6s; }
  @media only screen and (max-width: 62.5em) {
    .navigation__checkbox:checked ~ .navigation__nav {
      width: 45%;
      height: 30rem; } }
  @media only screen and (max-width: 50em) {
    .navigation__checkbox:checked ~ .navigation__nav {
      width: 50%; } }
  @media only screen and (max-width: 43.75em) {
    .navigation__checkbox:checked ~ .navigation__nav {
      width: 55%; } }
  @media only screen and (max-width: 34.375em) {
    .navigation__checkbox:checked ~ .navigation__nav {
      width: 60%; } }
  @media only screen and (max-width: 28.125em) {
    .navigation__checkbox:checked ~ .navigation__nav {
      width: 65%; } }
  @media only screen and (max-width: 25em) {
    .navigation__checkbox:checked ~ .navigation__nav {
      width: 70%; } }
  @media only screen and (max-width: 21.875em) {
    .navigation__checkbox:checked ~ .navigation__nav {
      width: 87%;
      height: 36rem; } }

.navigation__checkbox:checked ~ .navigation__btn--open {
  display: none; }

.navigation__checkbox:checked ~ .navigation__btn--close {
  display: block; }

.people-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  flex: 0 0 45%;
  border-radius: 4rem;
  color: var(--color-gray-darken);
  background-image: linear-gradient(to bottom right, rgba(153, 205, 50, 0.9), white);
  box-shadow: var(--shadow-btn); }
  @media only screen and (max-width: 28.125em) {
    .people-box {
      margin: 0 2rem 5rem 2rem; } }
  .people-box:not(:last-child) {
    margin-right: 2rem; }
  .people-box__icon {
    width: 4rem;
    height: 4rem;
    fill: var(--color-pink-darken);
    margin: 0 auto; }
  .people-box__text {
    width: 80%;
    margin: 2rem auto; }
  .people-box__id {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; }
    .people-box__id-img {
      width: 6rem;
      height: 6rem;
      border-radius: 50%; }

.text-box--big {
  font-size: 3rem;
  letter-spacing: .2rem;
  line-height: 3rem;
  margin-top: 2.5rem;
  animation-name: moveUp; }
  @media only screen and (max-width: 50em) {
    .text-box--big {
      font-size: 2rem; } }
  @media only screen and (max-width: 28.125em) {
    .text-box--big {
      font-size: 3rem; } }
  @media only screen and (max-width: 25em) {
    .text-box--big {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 21.875em) {
    .text-box--big {
      font-size: 3rem; } }

.text-box--mid {
  font-size: 2rem;
  letter-spacing: .1rem;
  line-height: 3rem;
  font-weight: 400; }
  @media only screen and (max-width: 28.125em) {
    .text-box--mid {
      font-size: 2.5rem; } }

.text-box--small {
  font-size: 1.8rem;
  letter-spacing: .1rem; }
  @media only screen and (max-width: 28.125em) {
    .text-box--small {
      font-size: 2rem; } }

.bgr-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; }
  .bgr-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.footer {
  margin-top: 20rem; }
  .footer__find {
    border-top: 0.1rem solid var(--color-gray-darken);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 7rem; }
  .footer__heading {
    margin: -10.5rem auto 5rem auto;
    background-color: var(--color-gray-light);
    padding: 0 3rem; }
    @media only screen and (max-width: 21.875em) {
      .footer__heading {
        margin: -10rem auto 5rem auto; } }
  .footer__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%; }
    @media only screen and (max-width: 43.75em) {
      .footer__social {
        width: 70%; } }
    @media only screen and (max-width: 34.375em) {
      .footer__social {
        width: 90%; } }
    @media only screen and (max-width: 28.125em) {
      .footer__social {
        width: 100%; } }
    .footer__social-icon {
      width: 6rem;
      height: 6rem;
      transition: all .2s; }
      @media only screen and (max-width: 31.25em) {
        .footer__social-icon {
          width: 6.5rem;
          height: 6.5rem; } }
      @media only screen and (max-width: 28.125em) {
        .footer__social-icon {
          width: 5.5rem;
          height: 5.5rem; } }
      .footer__social-icon:hover {
        transform: scale(1.2); }
      .footer__social-icon--fb {
        fill: #3b5998; }
      .footer__social-icon--tw {
        fill: #1da1f2; }
      .footer__social-icon--inst {
        fill: #f46f30; }
  .footer__copy {
    background-color: var(--color-gray-darken);
    color: #fff;
    padding: 5rem;
    text-align: center; }

.header {
  height: 95vh;
  border-radius: 0 0 20rem 0;
  background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.5) 45%, transparent 60%), url(../img/strawberry_home--smaller.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
  z-index: 900; }
  @media (min-resolution: 192dpi) and (min-width: 18.75em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 18.75em), (min-width: 37.5em) {
    .header {
      background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.5) 45%, transparent 60%), url(../img/strawberry_home--small.jpg); } }
  @media (min-resolution: 192dpi) and (min-width: 28.125em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 28.125em), (min-width: 56.25em) {
    .header {
      background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.5) 45%, transparent 60%), url(../img/strawberry_home--mid.jpg); } }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-width: 75em) {
    .header {
      background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.5) 45%, transparent 60%), url(../img/strawberry_home--big.jpg); } }
  @media (min-resolution: 192dpi) and (min-width: 62.5em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 62.5em), (min-width: 125em) {
    .header {
      background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.5) 45%, transparent 60%), url(../img/strawberry_home--bigger.jpg); } }
  @media only screen and (max-width: 21.875em) {
    .header {
      height: 110vh; } }
  @media only screen and (max-height: 28.125em) {
    .header {
      height: 140vh; } }
  @media only screen and (max-height: 25em) {
    .header {
      height: 170vh; } }
  @media only screen and (max-height: 20em) {
    .header {
      height: 190vh; } }

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-radius: 0 0 0 20rem;
  margin: -15rem 0 0 auto;
  position: relative;
  z-index: 30;
  padding: 15rem 0;
  opacity: .8;
  overflow: hidden; }
  @media only screen and (max-width: 31.25em) {
    .about {
      width: 98%; } }

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 15rem auto;
  padding: 3rem; }
  @media only screen and (max-width: 31.25em) {
    .contact {
      margin: 12rem auto; } }
  .contact__heading {
    margin-bottom: 7rem; }

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 95%;
  padding: 5rem 10rem; }
  @media only screen and (max-width: 56.25em) {
    .home {
      padding: 10rem 7rem 4rem 7rem; } }
  @media only screen and (max-width: 28.125em) {
    .home {
      padding: 4rem; } }
  @media only screen and (max-width: 21.875em) {
    .home {
      padding: 2.5rem; } }
  .home__heading {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex: 0 0 60%; }
    @media only screen and (max-width: 68.75em) {
      .home__heading {
        flex: 0 0 40%; } }
    @media only screen and (max-width: 28.125em) {
      .home__heading {
        flex: 0 0 35%;
        margin-top: 5rem; } }
    @media only screen and (max-width: 25em) {
      .home__heading {
        justify-content: flex-start; } }
    @media only screen and (max-width: 21.875em) {
      .home__heading {
        margin-top: 6rem;
        align-items: center; } }
  .home__btns {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-end; }
    @media only screen and (max-width: 28.125em) {
      .home__btns {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start; } }
    .home__btns--left {
      margin-right: 10rem;
      animation-name: moveUp; }
      @media only screen and (max-width: 28.125em) {
        .home__btns--left {
          margin: 0 0 3.5rem 0; } }
      @media only screen and (max-width: 21.875em) {
        .home__btns--left {
          margin: 0 0 2.5rem 0; } }
    .home__btns--right {
      animation-name: moveUp; }

.people {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  margin: 0 auto 0 0;
  padding: 7rem;
  border-radius: 0 20rem 20rem 0;
  background-image: linear-gradient(-145deg, rgba(255, 255, 255, 0.9) 0, rgba(255, 255, 255, 0.5) 55%, transparent 60%), url(../img/strawberry_people--smaller.jpg);
  background-size: cover;
  background-position: center; }
  @media (min-resolution: 192dpi) and (min-width: 18.75em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 18.75em), (min-width: 37.5em) {
    .people {
      background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.5) 45%, transparent 60%), url(../img/strawberry_people--small.jpg); } }
  @media (min-resolution: 192dpi) and (min-width: 28.125em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 28.125em), (min-width: 56.25em) {
    .people {
      background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.5) 45%, transparent 60%), url(../img/strawberry_people--mid.jpg); } }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-width: 75em) {
    .people {
      background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.5) 45%, transparent 60%), url(../img/strawberry_people--big.jpg); } }
  @media (min-resolution: 192dpi) and (min-width: 62.5em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 62.5em), (min-width: 125em) {
    .people {
      background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.5) 45%, transparent 60%), url(../img/strawberry_people--bigger.jpg); } }
  @media only screen and (max-width: 68.75em) {
    .people {
      align-items: flex-start; } }
  @media only screen and (max-width: 56.25em) {
    .people {
      padding: 7rem 5rem; } }
  @media only screen and (max-width: 50em) {
    .people {
      padding: 5rem 3rem; } }
  @media only screen and (max-width: 31.25em) {
    .people {
      width: 98%; } }
  .people__heading {
    padding: 2rem;
    margin-bottom: 7rem; }
  .people__content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 28.125em) {
      .people__content {
        flex-direction: column;
        justify-content: space-between; } }
  .people__btn {
    margin: 3rem 2rem 2rem auto; }
    @media only screen and (max-width: 68.75em) {
      .people__btn {
        margin: 0; } }

.products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20rem auto 15rem auto; }
  .products__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .products__cards {
        padding: 0 2rem; } }
    @media only screen and (max-width: 40em) {
      .products__cards {
        flex-direction: column; } }
  .products__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12rem 0 5rem 0; }
