// css - variables
:root {
    --color-pink-light: #ed5565;
    --color-pink-dark: #da4453;
    --color-pink-darken: #b62433;

    --color-pink-light-transparent: #ed55645b;

    --color-gray-light: #f5f7fa;
    --color-gray-medium: #aab2bd;
    --color-gray-dark: #343941;
    --color-gray-darken: #1e272e;

    --color-green: yellowgreen;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.5);
    --shadow-light: 0 .5rem 2rem rgba(0, 0, 0, 0.4);

    --shadow-btn: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

