.footer {

    margin-top: 20rem;

    &__find {
        border-top: .1rem solid var(--color-gray-darken);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 7rem;
    }

    &__heading {
        margin: -10.5rem auto 5rem auto; 
        background-color: var(--color-gray-light);
        padding: 0 3rem;

        @include respond(bp350) {
            margin: -10rem auto 5rem auto; 
        }
    }

    &__social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 55%;

        @include respond(bp700) {
            width: 70%;
        }
        @include respond(bp550) {
            width: 90%;
        }
        @include respond(bp450) {
            width: 100%; 
        }

        &-icon {
            width: 6rem;
            height: 6rem;
            transition: all .2s;

            @include respond(bp500) {
                width: 6.5rem;
                height: 6.5rem;
            }
            @include respond(bp450) {
                width: 5.5rem;
                height: 5.5rem;
            }

            &:hover {         
                transform: scale(1.2);
            }

            &--fb {
                fill: #3b5998;
            }
            &--tw {
                fill: #1da1f2;
            }
            &--inst {
                fill: #f46f30;
            }
        }
    }

    &__copy {
        background-color: var(--color-gray-darken);
        color: #fff;
        padding: 5rem;
        text-align: center;
    }
}