.header {
    height: 95vh;
    border-radius: 0 0 20rem 0;

    background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.7) 0, 
                                    rgba(255, 255, 255, 0.5) 45%,
                                    transparent  60%), 
                                    url(../img/strawberry_home--smaller.jpg);  
    background-size: cover;
    background-position: bottom;   

    // RESPONSIVE - IMG 

    @include respond(small){
        background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.7) 0, 
        rgba(255, 255, 255, 0.5) 45%,
        transparent  60%), 
        url(../img/strawberry_home--small.jpg);  
    }
    @include respond(mid){
        background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.7) 0, 
        rgba(255, 255, 255, 0.5) 45%,
        transparent  60%), 
        url(../img/strawberry_home--mid.jpg);  
    }
    @include respond(big){
        background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.7) 0, 
        rgba(255, 255, 255, 0.5) 45%,
        transparent  60%), 
        url(../img/strawberry_home--big.jpg);  
    }
    @include respond(bigger){
        background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.7) 0, 
        rgba(255, 255, 255, 0.5) 45%,
        transparent  60%), 
        url(../img/strawberry_home--bigger.jpg);  
    }

    
    position: relative;
    z-index: 900;

    @include respond(bp350) {
        height: 110vh;       
    }
    @include respond(bp450H) {
        height: 140vh;       
    }
    @include respond(bp400H) {
        height: 170vh;       
    }
    @include respond(bp320H) {
        height: 190vh;       
    }

}