.about-box {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem;
    margin: 13rem auto 0 auto;
    flex: 0 0 60%;
    border-radius: 4rem;
    color: var(--color-gray-darken);

    background-image: linear-gradient(to bottom right, rgba(153, 205, 50, .9), rgba(255, 255, 255, .9));
    box-shadow: var(--shadow-btn);

    @include respond(bp500) {
        flex: 0 0 75%;
    }

    &__heading {
        color: var(--color-gray-darken);
    }
    &__text {
        margin: 2rem auto 0 auto;
    }
}
