.box-card {
    height: 50rem;
    width: 100%;
    flex: 1;
    //
    -moz-perspective: 150rem;
    perspective: 150rem;
    //
    position: relative;

    @include respond(bp1600) {
        height: 53rem;
    }
    @include respond(bp1700) {
        height: 54rem;
    }
    @include respond(bp1800) {
        height: 56rem;
    }

    @include respond(bpHoverNone) {   
        border-radius: 4rem;
        overflow: hidden;
        box-shadow: var(--shadow-btn);
        height: 100%;
    }
    @include respond(bp1100) {   
        border-radius: 4rem;
        overflow: hidden;
        box-shadow: var(--shadow-btn);
        height: 100%;
    }
    @include respond(bp640) {   
        width: 65%;
        margin: 0 auto;
    }
    @include respond(bp450) {
        width: 80%;      
    }

    &--first,
    &--sec {
        margin-right: 5rem;

        @include respond(bp1100) {
            margin-right: 3rem;
        }
        @include respond(bp900) {
            margin-right: 2rem;
        }
        @include respond(bp640) {   
            margin: 0 auto 7rem auto;
        }
    }


    &-side {
        height: 50rem;
        width: 100%;
        flex: 1;
        //
        padding: 2rem;
        border-radius: 2rem;
        box-shadow: var(--shadow-btn);
        transition: all .8s ease-in-out;
        //
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;

        @include respond(bp1600) {
            height: 53rem;
        }
        @include respond(bp1700) {
            height: 54rem;
        }
        @include respond(bp1800) {
            height: 56rem;
        }

        @include respond(bpHoverNone) {
            position: relative;
            border-radius: 0;
            width: 100%;
            height: 100%; 
        }
        @include respond(bp1100) {
            position: relative;
            border-radius: 0;
            width: 100%;
            height: 100%; 
        }

        &-front {

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 50%, rgba(#000, 0.1));
            flex: 1;

            @include respond(bp1100) {   
                padding-bottom: 3rem;
            }

            &__heading {
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                &-icon {
                    fill:  var(--color-pink-light);
                    width: 3rem;
                    height: 3rem;
                    margin-right: 1rem;
                }
                & > h3:first-child {
                    margin-right: auto;
                }
            }
            &__img {
                margin: 4rem auto; 
                width: 40%;

                &--jam {
                    
                }
                &--fresh {
                    opacity: .95;
                }
                &--cake {
                    width: 100%;
                }
            }
            &__text {
                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
        
                    list-style: none;
                    width: 70%;
                    margin: 0 auto;

                    @include respond(bp1100) {
                        width: 90%;
                    }
                    @include respond(bp640) {
                        width: 70%;
                    }
                    @include respond(bp450) {
                        width: 80%       
                    }
                }
                li {
                    margin-bottom: 1rem;
                    padding-bottom: 1rem;

                    &:not(:last-child) {
                        border-bottom: .1rem solid var(--color-pink-light-transparent);
                    }
                    span {
                        font-weight: 400;
                        font-size: 2rem;
                        padding-left: 1rem;
                    }
                }        
            }
        }
        &-back {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            color: #fff;
            font-weight: 300;
            background-image: linear-gradient(135deg, var(--color-pink-light), var(--color-pink-darken));
            transform: rotateY(180deg);  

            @include respond(bpHoverNone) {
                transform: rotateY(0);
            }
            @include respond(bp1100) {
                transform: rotateY(0);
            }
        }
    }
    &:hover &-side-front {
        transform: rotateY(-180deg);

        @include respond(bpHoverNone) {
            transform: rotateY(0);
        }
        @include respond(bp1100) {
            transform: rotateY(0);
        }
    }
    &:hover &-side-back {
        transform: rotateY(0);
    }
}

