.btn {
    &,
    &:link,
    &:visited {

        @extend %text-formating-300;
        text-transform: uppercase;
        text-decoration: none;
        padding: 2rem 3rem;
        letter-spacing: .3rem;
        font-size: 1.7rem;
        border-radius: 1.5rem;  
        box-shadow: var(--shadow-btn);
        transition: all .2s;
        cursor: pointer;

        @include respond(bp450) {
            font-size: 2.8rem;
        }
        @include respond(bp400) {
            padding: 2.5rem 5rem;       
        }
        @include respond(bp350) {
            font-size: 2.2rem;    
        }

    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: var(--shadow-btn);
    }

    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    }
    &__solid {
        
        &--pink {
            background-color: var(--color-pink-dark);
            color: #fff;
            
            &:hover {
                background-color: var(--color-pink-light);
            }
        }

        &--white {
            background-color: #fff;
            color: var(--color-pink-dark);
            font-weight: 400;
            margin-bottom: 2rem;
        }

        &--form {
            background-color: #fff;
            color: var(--color-pink-dark);
            font-weight: 400;
            border: none;

            //
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            @include respond(bp800) {
                font-size: 1.3rem;
            }
            @include respond(bp450) {
                font-size: 2.2rem;
            }
            @include respond(bp350) {
                font-size: 2rem;    
            }

            &:focus {
                outline: none;
            }
        }
    }

    &__light {
        color: var(--color-pink-dark);
        border: .1rem solid var(--color-pink-dark);
        background-color: rgba(255, 255, 255, 0.9);
        font-weight: 400;
        padding: 2rem 2.5rem;
    }
}

.btn-text {

    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-family: inherit;
    letter-spacing: .3rem;
    font-size: 2.2rem;
    font-weight: 400;
    transition: all .2s;
    cursor: pointer;
    backface-visibility: hidden;

    @include respond(bp450) {
        font-size: 3rem;
    }

    &__pink {
        color: var(--color-pink-darken);
        margin: 0 0 0 2rem;
    }

    &:hover {
        transform: scale(1.3);
    }
    &:active {
        transform: scale(1);
    }
}