.contact-form {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    width: 75%;
    padding: 7rem;
    border-radius: 5rem;

    background-image: linear-gradient(to bottom right, rgba(#ed5565, .9), var(--color-pink-darken));
    box-shadow: var(--shadow-btn);

    @include respond(bp900) {
        width: 80%;
        padding: 5rem;
    }
    @include respond(bp800) {
        width: 85%;
    }
    @include respond(bp700) {
        width: 90%;
    }
    @include respond(bp500) {
        align-items: center;
        padding: 7rem 0;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        @include respond(bp500) {
            flex-direction: column;
            width: 80%;
        }

        &--info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            flex: 0 0 40%;
            margin: 0 3rem 5rem auto;

            @include respond(bp500) {
                flex: 0 0 40%;
                margin: 0;
            }
        }
        &--text {
            flex: 1;
        }
    }

    &__input {
        width: 100%;
        @extend %text-formating-300;
        border-radius: .5rem;
        height: 4rem;
        font-size: 2.2rem;
        color: inherit;
        cursor: pointer;
        border: none;
        box-shadow: var(--shadow-light);
        padding: 0 1rem;

        @include respond(bp500) {
            height: 6rem;
            font-size: 3rem;
        }

        &:focus {
            outline: none;
            border-bottom: .3rem solid var(--color-gray-dark);
            box-shadow: var(--shadow-btn);
        }

        &--name {
            margin-bottom: 3rem;
        }
        &--email {
            margin-bottom: 3rem;
        }
        &--msg {
            height: 100%;

            @include respond(bp500) {
                height: 22rem;
            }            
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;

        @include respond(bp500) {
            margin-top: 3.5rem;
        }
    }

}