.logo {
    position: fixed;
    top: 3.5rem;
    left: 4.5rem;
    height: 7rem;
    width: 7rem;
    z-index: 3000;
    background-color: rgba(255, 255, 255, .98);
    border-radius: 50%;
    box-shadow: var(--shadow-light);

    @include respond(bp700) {
        top: 2.5rem;
        left: 2.5rem;
        height: 6rem;
        width: 6rem;
    }

    &__img {
        position: fixed;
        top: 4rem;
        left: 5rem;
        height: 6rem;
        width: 6rem;
        // opacity: .5;
        transition: all 1s ease;

        @include respond(bp700) {
            top: 3rem;
            left: 3rem;
            height: 5rem;
            width: 5rem;
        }

        &:hover {
            transform: rotateZ(360deg);            
        }
    }

}
