.navigation {
    
    &__checkbox {
        display: none;
    }
    &__btn--open {
        display: block;
    }
    &__btn--close {
        display: none;
    }
    &__icon {
        position: fixed;
        top: 4.25rem;
        right: 5.25rem;
        height: 5.5rem;
        width: 5.5rem;
        fill: var(--color-gray-dark);
        z-index: 2000;
        cursor: pointer;

        @include respond(bp700) {
            top: 3rem;
            right: 3rem;
            height: 5rem;
            width: 5rem;
        }
    }
    &__bgr {
        position: fixed;
        top: 3.5rem;
        right: 4.5rem;
        height: 7rem;
        width: 7rem;
        z-index: 1000;
        background-color: rgba(255, 255, 255, .98);
        border-radius: 1000rem;
        box-shadow: var(--shadow-light);
        transition: all .5s;
        
        @include respond(bp1000) {
            transition: all .2s;
        }
        @include respond(bp700) {
            top: 2.5rem;
            right: 2.5rem;
            height: 6rem;
            width: 6rem;
        }
    }
    &__nav {
        position: fixed;
        top: 3.5rem;
        right: 4.5rem;
        height: 7rem;
        z-index: 1500;

        display: none;
        justify-content: center;
        align-items: center;
        padding: 0 6rem 0 5rem;

        @include respond(bp350) {
            padding: 0 4rem 0 3rem;
        }
    }
    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 1;
        list-style: none;

        @include respond(bp1000) {
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    &__item {
        margin-right: 2rem;
    }
    &__link {
        &:link,
        &:visited {
            text-decoration: none; 
            display: inline-block;
            text-transform: uppercase;
            @extend %text-formating-300; 
            font-size: 2.7rem;
            letter-spacing: .1rem; 
            color: var(--color-gray-darken);
            padding: .8rem 1rem;
            transition: all .3s;
            backface-visibility: hidden;
        }
        &:hover,
        &:active {
            transform: scale(1.1);
            color: var(--color-pink-dark);
        }
    }

    &__checkbox:checked ~ &__bgr {
        width: 83rem;

        @include respond(bp1000) {
            width: 45%;
            height: 30rem;
            border-radius: 3rem;
        }
        @include respond(bp800) {
            width: 50%;
        }
        @include respond(bp700) {
            width: 55%;
        }
        @include respond(bp550) {
            width: 60%;
        }
        @include respond(bp450) {
            width: 65%;
        }
        @include respond(bp400) {
            width: 70%;
        }
        @include respond(bp350) {
            width: 87%;
            height: 36rem;
        }
    }
    &__checkbox:checked ~ &__nav {
        display: flex;
        animation-name: moveLeftStop;
        animation-duration: .6s;

        @include respond(bp1000) {
            width: 45%;
            height: 30rem;
        }
        @include respond(bp800) {
            width: 50%;
        }
        @include respond(bp700) {
            width: 55%;
        }
        @include respond(bp550) {
            width: 60%;
        }
        @include respond(bp450) {
            width: 65%;
        }
        @include respond(bp400) {
            width: 70%;
        }
        @include respond(bp350) {
            width: 87%;
            height: 36rem;
        }
    }
    &__checkbox:checked ~ &__btn--open {
        display: none;
    }
    &__checkbox:checked ~ &__btn--close {
        display: block;
    }
}