.people-box {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    flex: 0 0 45%;
    border-radius: 4rem;
    color: var(--color-gray-darken);

    background-image: linear-gradient(to bottom right, rgba(153, 205, 50, .9), rgba(255, 255, 255, 1));
    box-shadow: var(--shadow-btn);

    @include respond(bp450) {
        margin: 0 2rem 5rem 2rem;           
    }
                                                    
    &:not(:last-child) {
        margin-right: 2rem;
    }
    &__icon {
        width: 4rem;
        height: 4rem;
        fill: var(--color-pink-darken);
        margin: 0 auto;
    }
    &__text {
        width: 80%;
        margin: 2rem auto;
    }
    &__id {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;

        &-img {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
        }
    }

}