.text-box {   
    @extend %text-formating-300;

    &--big {
        font-size: 3rem;
        letter-spacing: .2rem;
        line-height: 3rem;
        margin-top: 2.5rem;
        //animation
        animation-name: moveUp;
        @extend %animation-headings;

        @include respond(bp800) {
            font-size: 2rem;
        }
        @include respond(bp450) {
            font-size: 3rem;
        }
        @include respond(bp400) {
            font-size: 3.5rem;    
        }
        @include respond(bp350) {
            font-size: 3rem;    
        }
    }

    &--mid {
        font-size: 2rem;
        letter-spacing: .1rem;
        line-height: 3rem;
        font-weight: 400;
        
        @include respond(bp450) {
            font-size: 2.5rem;           
        }
    }

    &--small {
        font-size: 1.8rem;
        letter-spacing: .1rem; 
        
        @include respond(bp450) {
            font-size: 2rem;    
        }
    }

    
}