@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-25rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(25rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveDown {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }
    80% {
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(15rem);
    }
    80% {
        transform: translateY(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveLeftStop {
    0% {
        opacity: 0;
        transform: translateX(70rem);
    }
    45% {
        opacity: 0;
    }
    55% {
        opacity: 0.3;
    }     
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


