* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px  10px/16px = 62.5%
    box-sizing: border-box;
    scroll-behavior: smooth;

    // Scrollbar for Firefox
    scrollbar-color: var(--color-gray-darken) var(--color-pink-dark);
    scrollbar-width: thin;

    @include respond(bp1400) {
        font-size: 63%;
    }
    @include respond(bp1500) {
        font-size: 65%;
    }
    @include respond(bp1600) {
        font-size: 66%;
    }
    @include respond(bp1700) {
        font-size: 67%;
    }


    @include respond(bp700) {
        font-size: 57%;
    }
    @include respond(bp600) {
        font-size: 52%;
    }
    @include respond(bp500) {
        font-size: 47%;
    }
    @include respond(bp450) {
        font-size: 44%;
    }
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    color: var(--color-gray-dark);
    background-color: var(--color-pink-dark);
}

.container {
    margin: 5rem 8rem;
    background-color: var(--color-gray-light);
    border-radius: 5rem;
    overflow: hidden;
    box-shadow: var(--shadow-dark);

    @include respond(bp1100) {
        margin: 4rem;
    }
    @include respond(bp900) {
        margin: 3rem;
    }
    @include respond(bp768) {
        margin: 0;
        border-radius: 0;
    }
}

::selection {
    background-color: var(--color-pink-dark);
    color: #fff;
}
::-webkit-scrollbar {
    width: .5rem;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-darken);
}
