.heading {
    display: block;
    text-transform: uppercase;
    @extend %text-formating-300; 
    
    &__prim {
        font-weight: 400;
        font-size: 13rem;
        letter-spacing: 1rem;
        color: var(--color-gray-dark);
         //animation
        animation-name: moveInRight;
        @extend %animation-headings;

        @include respond(bp900) {
            font-size: 11rem;
        }
        @include respond(bp640) {
            font-size: 10rem;
        }
        @include respond(bp550) {
            font-size: 9rem;
        }
        @include respond(bp400) {
            font-size: 8rem; 
            margin: 3rem auto;   
        }
        @include respond(bp350) {
            font-size: 7rem; 
            letter-spacing: .7rem;
            margin: 3rem auto; 
        }

    }
    &__sec {
        font-size: 5.5rem;
        letter-spacing: .3rem;
        color: var(--color-gray-dark);
        //animation
        animation-name: moveInLeft;
        @extend %animation-headings;

        @include respond(bp900) {
            font-size: 5rem;
            letter-spacing: .2rem;
            font-weight: 400;
        }
        @include respond(bp800) {
            font-size: 4.5rem;
        }
        @include respond(bp450) {
            font-size: 5.5rem;     
        }
        @include respond(bp400) {
            font-size: 5rem;   
        }
        @include respond(bp350) {
            font-size: 4.5rem;
        }

        &--card {
            font-size: 15rem;
            letter-spacing: .4rem;

            @include respond(bp1100) {   
                font-size: 12rem;
                margin-bottom: 4rem;
            }

        }
        &--people {
            font-size: 7rem;
            letter-spacing: .3rem;
            color: var(--color-gray-darken);
            font-weight: 400;
            //animation
            animation-name: moveInRight;
            @extend %animation-headings;

            @include respond(bp1100) {
                font-size: 6rem;
            }
            @include respond(bp768) {
                font-size: 5rem;
            }
        }
        &--find {
             //animation
            animation-name: moveDown;
            @extend %animation-headings;   
        }
    }
    &__third {
        font-size: 3rem;
        letter-spacing: .2rem; 
    }
}