.about {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 0 0 0 20rem;
    margin: -15rem 0 0 auto;

    position: relative;
    z-index: 30;
    padding: 15rem 0;

    opacity: .8;
    overflow: hidden;

    @include respond(bp500) {
        width: 98%;
    }
      
}


