.contact {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 15rem auto;
    padding: 3rem;

    @include respond(bp500) {
        margin: 12rem auto;
    }

    &__heading {
        margin-bottom: 7rem;
    }

}