.home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 95%;
    padding: 5rem 10rem;  

    @include respond(bp900) {
        padding: 10rem 7rem 4rem 7rem; 
    }
    @include respond(bp450) {
        padding: 4rem; 
    }
    @include respond(bp350) {
        padding: 2.5rem; 
    }

    &__heading {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        flex: 0 0 60%;

        @include respond(bp1100) {
            flex: 0 0 40%;
        }
        @include respond(bp450) {
            flex: 0 0 35%; 
            margin-top: 5rem;
        }
        @include respond(bp400) {
            justify-content: flex-start;  
        }
        @include respond(bp350) {
            margin-top: 6rem; 
            align-items: center; 
        }
    }

    &__btns {
        display: flex;
        flex: 1;
        justify-content: flex-start;
        align-items: flex-end;

        @include respond(bp450) {
            flex-direction: column; 
            justify-content: flex-end;
            align-items: flex-start;        
        }

        &--left {
            margin-right: 10rem;
            animation-name: moveUp;
            @extend %animation-headings;

            @include respond(bp450) {
                margin: 0 0 3.5rem 0;       
            }
            @include respond(bp350) {
                margin: 0 0 2.5rem 0;       
            }
        }
        &--right {
            animation-name: moveUp;
            @extend %animation-headings;
        }
    }

}