.people {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    margin: 0 auto 0 0;
    padding: 7rem;
    border-radius: 0 20rem 20rem 0;

    background-image: linear-gradient(-145deg, rgba(255, 255, 255, 0.9) 0, 
                                    rgba(255, 255, 255, 0.5) 55%,
                                    transparent  60%), 
                                    url(../img/strawberry_people--smaller.jpg);  
    background-size: cover;
    background-position: center;
    
    // RESPONSIVE - IMG 

    @include respond(small){
        background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.7) 0, 
        rgba(255, 255, 255, 0.5) 45%,
        transparent  60%), 
        url(../img/strawberry_people--small.jpg);  
    }
    @include respond(mid){
        background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.7) 0, 
        rgba(255, 255, 255, 0.5) 45%,
        transparent  60%), 
        url(../img/strawberry_people--mid.jpg);  
    }
    @include respond(big){
        background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.7) 0, 
        rgba(255, 255, 255, 0.5) 45%,
        transparent  60%), 
        url(../img/strawberry_people--big.jpg);  
    }
    @include respond(bigger){
        background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.7) 0, 
        rgba(255, 255, 255, 0.5) 45%,
        transparent  60%), 
        url(../img/strawberry_people--bigger.jpg);  
    }

    @include respond(bp1100) {
        align-items: flex-start;
    }
    @include respond(bp900) {
        padding: 7rem 5rem;
    }
    @include respond(bp800) {
        padding: 5rem 3rem;
    }
    @include respond(bp500) {
        width: 98%;
    }

    &__heading {
        padding: 2rem;
        margin-bottom: 7rem;
    }
    &__content {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-bottom: 3rem;

        @include respond(bp450) {
            flex-direction: column;
            justify-content: space-between;            
        }
        
    }
    &__btn {
        margin: 3rem 2rem 2rem auto;

        @include respond(bp1100) {
            margin: 0;
        }
    }
}