.products {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20rem auto 15rem auto;
    
    &__cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5rem;
        width: 100%;

        @include respond(bp900) {
            padding: 0 2rem;
        }
        @include respond(bp640) {   
            flex-direction: column;
        }
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12rem 0 5rem 0; 

    }

}